<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataManagement.Properties.Settings.generalDBConnectionString"
            connectionString="Data Source=sqlgeneralwork.database.windows.net;Initial Catalog=generalDB;Persist Security Info=True;User ID=UCLProjekt;Password=E6tyzKAg[6N5}i9g3K-I[{a(48LN:2k2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>